# while loop

In [1]:
i=1
while i<10:
    print(i*i)
    i+=2

1
9
25
49
81

In [2]:
p=3
while p<30:
    print(p*p)
    p+=3

9
36
81
144
225
324
441
576
729

In [3]:
z=2
while z<40:
    print(z*z)
    z+=2

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444

# for loop

In [4]:
for n in range (1,10,2):
    print(n*n)

1
9
25
49
81

# Assignment 1
Write the while loop to print the squre of all the even number below 10

In [5]:
n=2
while n<10:
    print(n*n)
    n+=2

4
16
36
64

# Assignment 2
write the for loop to print the squre of all the even  number below 10

In [6]:
for n in range(2,10,2):
 print(n*n)

4
16
36
64

# Break statement

In [7]:
for n in range(2,10,2):
    pass

In [8]:
for latter in 'python':
    if  latter == 'h':
        break
    print('current  latter :', latter)

current  latter : p
current  latter : y
current  latter : t

# Continue statement

In [11]:
for n in range(1, 10, 2):
    if n % 3 == 0:
        continue
    print(n * n)

1
25
49

# Assignment 3

In [18]:
#Given number range(1,4), write a code only the number 1
# which statement you use to  skip the ittretions

In [19]:
for n in range(1,4):
    print(n)
    break

1

In [20]:
for n in range(1,4):
    pass

In [21]:
for n in range(1,4):
    print(n)
    continue

1
2
3