DataFrame

In [1]:
import pandas as pd

In [2]:
List = [1,2,3,4,5,6,7]
var = pd.DataFrame(List)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
<class 'pandas.core.frame.DataFrame'>

Dictionary

In [3]:
Dic = {"Number":[1,2,4,5,6],
       "Name":["Durgesh","Satish","Aman","Aditya","Anil"]}
var_1 = pd.DataFrame(Dic)
print(var_1)

   Number     Name
0       1  Durgesh
1       2   Satish
2       4     Aman
3       5   Aditya
4       6     Anil

Create DataFrame

In [4]:
list_1 = [[1,2,3,4,5,6],[11,12 ,13,14,15,16],[16,17,18,19,20,21]]
Var_2 = pd.DataFrame(list_1)
print(Var_2)
print(type(Var_2))

    0   1   2   3   4   5
0   1   2   3   4   5   6
1  11  12  13  14  15  16
2  16  17  18  19  20  21
<class 'pandas.core.frame.DataFrame'>

Create DataFrame using Series

In [7]:
Sr = {"S":pd.Series([1,2,3,4,5]),"R": pd.Series([6,7,8,9,10])}
Var_3 = pd.DataFrame(Sr)
print(Var_3)
print(type(Var_3))

   S   R
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
<class 'pandas.core.frame.DataFrame'>